.contacts__wrapper {
  padding: 36px 0 39px;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 1366px) {
    padding: 60px 103px 72px;
    width: unset;
  }
}

.contacts__header {
  @include content-header;
  margin-bottom: 38px;

  @media (min-width: 768px) {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    margin-bottom: 36px;
  }

  @media (min-width: 1366px) {
    text-align: left;
    max-width: 477px;
    margin: 0 0 35px;
  }
}

.contacts__list {
  @include list-reset;
  display: grid;
  gap: 28px;

  @media (min-width: 768px) {
    width: 440px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 15px 61px;
  }

  @media (min-width: 1366px) {
    margin: 0;
    width: 477px;
    gap: 15px 120px;
  }
}

.contacts__item:nth-child(2) {
  @media (min-width: 768px) {
    grid-area: 2;
  }
}

.contacts__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0 0 12px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 5px;
  }
}

.contacts__description {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin: 0;

  @media (min-width: 768px) {
    line-height: 22px;
  }
}
