.faq {
  background: $primary-bg;
  padding: 70px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 1366px) {
    padding: 100px 0;
  }
}

.faq__header {
  @include content-header;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    margin-bottom: 45px;
  }

  @media (min-width: 1366px) {
    margin: 0;
    text-align: left;
    max-width: 400px;
    margin-bottom: 49px;
  }
}

.faq__wrapper {
  @media (min-width: 1366px) {
    display: flex;
    justify-content: space-between;
  }
}

.faq__tabs {
  @include list-reset;
  padding: 0 0 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: 768px) {
    padding: 0 0 44px;
  }

  @media (min-width: 1366px) {
    flex-direction: column;
    margin-top: 1px;
  }
}

.faq__tabs-button {
  cursor: pointer;
  color: #102654;
  background: #ffffff;
  border: 1px solid #10265433;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  width: 140px;
  min-height: 46px;
  padding: 13px 23px 15px 23px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 18px;
    width: 162px;
    min-height: 54px;
  }

  @media (min-width: 1366px) {
    width: 260px;
    padding: 18px 23px 14px;
  }
}

.faq__tabs-button--active {
  background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
  color: #ffffff;
  border: none;
}

.faq__qna {
  @include list-reset;
}

.faq__qna-item {
  border-top: 1px solid #74819c;
  padding: 20px 0 21px;
  position: relative;

  @media (min-width: 768px) {
    padding: 33px 0 0;
  }

  @media (min-width: 1366px) {
    width: 860px;
    padding: 30px 0 0;
  }
}

.faq__qna-item:nth-child(2n) {
  padding: 20px 0 20px;
}

.faq__qna-item:nth-child(3n),
.faq__qna-item:nth-child(4n) {
  padding: 20px 0 21px;
}

.faq__qna-item:nth-child(2n),
.faq__qna-item:nth-child(3n) {
  @media (min-width:768px) {
    padding: 33px 0 31px;
  }

  @media (min-width: 1366px) {
    padding: 32px 0 28px;
  }
}

.faq__qna-item:nth-child(4n) {
  @media (min-width: 768px) {
    padding: 23px 0 22px;
  }

  @media (min-width: 1366px) {
    padding: 32px 0 30px;
  }
}

.faq__qna-item:last-child {
  border-bottom: 1px solid #74819c;
}

.faq__qna-item::after {
  position: absolute;
  content: "";
  background-image: url("/__spritemap#sprite-faq-plus-view");
  width: 30px;
  height: 30px;
  top: 25px;
  right: 0;

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
    top: 24px;
  }
}

.faq__qna-item:nth-child(2n)::after {
  top: 25px;
}

.faq__qna-item:nth-child(3n)::after ,
.faq__qna-item:nth-child(4n)::after {
  top: 35px;

  @media (min-width: 768px) {
    top: 24px;
  }
}

.faq__qna-item--active::after {
  background-image: url("/__spritemap#sprite-faq-minus-view");
}

.faq__qna-item button {
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  background: transparent;
  border: none;
  color: #102654;
  padding: 0;
  max-width: 236px;

  @media (min-width: 768px) {
    max-width: 500px;
    font-size: 22px;
    line-height: 22px;
  }

  @media (min-width: 1366px) {
    font-size: 24px;
    line-height: 24px;
    max-width: 660px;
  }
}

.faq__answer--active {
  margin: 19px 0 0;
  font-weight: 300;
  line-height: 20px;
  width: 236px;

  @media (min-width: 768px) {
    max-width: 555px;
    width: unset;
    font-size: 18px;
    line-height: 24px;
    margin: 18px 0 23px;
  }

  @media (min-width: 1366px) {
    max-width: 620px;
    margin: 31px 0 22px;
  }
}
