.form {
  padding: 70px 0;
  background: #102654;
}

.form__header {
  @include content-header;
  color: #ffffff;
  margin-bottom: 36px;
}

.form__user-info {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-bottom: 17px;
}

.form__input {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 100%;
  height: 25px;
  padding: 10px 0 15px;
  background-color: transparent;
  color: #ffffff;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #74819c;
}

.form__button {
  width: 290px;
  height: 60px;
  padding: 22px 106px 22px 106px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
}
