.form {
  padding: 70px 0;
  background: #102654;

  @media (min-width: 768px) {
    padding: 60px 0;
  }

  @media (min-width: 1366px) {
    padding: 60px 0;
  }
}

.form__wrapper {
  @media (min-width: 1366px) {
    margin-right: 103px;
    width: 477px;
    margin-left: auto;
  }
}

.form__header {
  @include content-header;
  color: #ffffff;
  margin-bottom: 37px;

  @media (min-width: 768px) {
    font-size: 54px;
    line-height: 54px;
    max-width: 440px;
    text-align: center;
  }

  @media (min-width: 1366px) {
    text-align: left;
    max-width: 477px;
    margin: 0 0 37px;
  }
}

.form__container {
  @media (min-width: 768px) {
    width: 440px;
  }

  @media (min-width: 1366px) {
    width: unset;
  }
}

.form__user-info {
  display: flex;
  flex-direction: column;
  gap: 37px;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }

  @media (min-width: 1366px) {
    justify-content: space-between;
  }
}

.form__field input{
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 100%;
  height: 25px;
  padding: 10px 0 15px;
  background-color: transparent;
  color: #ffffff;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #74819c;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @media (min-width: 768px) {
    width: 205px;
  }

  @media (min-width: 1366px) {
    width: 223px;
  }
}

.form__button {
  width: 290px;
  padding: 22px 106px 22px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;

  @media (min-width: 768px) {
    width: 100%;
    padding: 25px 106px 24px;
  }

  @media (min-width: 1366px) {
    width: 477px;
    padding: 26px 106px 24px;
  }
}

.form__error-message {
  font-size: 14px;
  line-height: 22px;
  color: #ff121f;
  display: none;
}

.form__field input.error {
  border-bottom: 1px solid #ff121f;
}

// hover, focus, active
.form__field:hover input {
  border-bottom: 1px solid #ffffff;
}

.form__field:focus input {
  border: 1px solid #ffffff;
  height: 36px;
}

.form__field:disabled input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.4);
}
