.games__wrapper {
  padding: 25px 0;

  @media (min-width: 768px) {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: 1366px) {
    padding: 100px 0;
  }
}

.games__info {
  background: #ed0233;
  color: #ffffff;
  padding: 40px 41px 40px 40px;

  @media (min-width: 768px) {
    padding: 40px;
  }

  @media (min-width: 1366px) {
    padding: 60px 80px 99px;
  }
}

.games__content {
  display: flex;
  gap: 37px;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    gap: 0;
    margin-bottom: 11px;
  }

  @media (min-width: 1366px) {
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.games__content-header {
  margin: 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 54px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 120px;
  }

  @media (min-width: 1366px) {
    font-size: 82px;
    line-height: 96px;
    width: 168px;
  }
}

.games__content-date {
  @media (min-width: 768px) {
    width: 100px;
  }

  @media (min-width: 1366px) {
    width: 95px;
  }
}

.games__info-header {
  margin: 0;
  font-weight: 300;
  line-height: 20px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 2px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 1px;
  }

  @media (min-width: 1366px) {
    padding-bottom: 5px;
  }
}

.games__date {
  margin: 0;
  display: flex;
  align-items: center;
  padding-top: 1px;
  gap: 4px;
  margin-bottom: 5px;

  @media (min-width: 768px) {
    gap: 6px;
    width: 74px;
    margin-bottom: 11px;
  }

  @media (min-width: 1366px) {
    padding-top: 3px;
    margin-bottom: 17px;
  }
}

.games__number {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-top: 1px;

  @media (min-width: 1366px) {
    font-size: 40px;
    line-height: 40px;
  }
}

.games__number--time {
  @media (min-width: 1366px) {
    padding-top: 6px;
  }
}

.games__month-year {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: 1366px) {
    line-height: 25px;
  }
}

.games__description {
  margin: 0;
  font-weight: 300;
  line-height: 20px;
  padding-right: 25px;
  margin-bottom: 17px;

  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  @media (min-width: 1366px) {
    margin-bottom: 30px;
  }
}

.games__apply-button {
  width: 106px;
  padding: 21px 50px;

  @media (min-width: 768px) {
    padding: 24px 55px;
  }

  @media (min-width: 1366px) {
    width: 220px;
    padding: 24px 58px;
  }
}

.games__content-picture {
  width: 290px;
  height: 290px;

  @media (min-width: 768px) {
    width: 378px;
    height: 348px;
  }

  @media (min-width: 1366px) {
    width: 660px;
    height: 500px;
  }
}
