.header__nav {
  display: flex;
  min-height: 54px;
  margin: 0 auto;

  @media (min-width: 768px) {
    min-height: 84px;
  }
}

.header__nav-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header__logo-svg {
  padding-top: 2px;

  @media (min-width: 768px) {
    width: 110px;
    height: 22px;
    padding-top: 4px;
  }

  @media (min-width: 1366px) {
    width: 130px;
    height: 26px;
  }
}

.header__nav-phone {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 19px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: 1366px) {
    font-size: 26px;
    line-height: 26px;
  }
}
// hover, focus, active
.header__nav-phone:hover {
  color: #1c337480;
}

.header__nav-phone:focus {
  color: #1c3374;
}

.header__nav-phone:active {
  color: #102654;
  border-bottom: 1px solid #102654;
}
