.hero__wrapper {
  padding-top: 48px;
}

.hero__about {
  display: grid;
  grid-template-columns: 123px 1fr;
  grid-template-rows: auto auto;
}

.hero__description {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  width: 113px;
  text-align: right;
  align-content: end;
  padding-bottom: 1px;
}

.hero__group {
  font-family: "Alumni Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero__group-city {
  font-size: 32px;
  line-height: 32px;
  text-align: right;
  padding-right: 2px;
}

.hero__group-description {
  font-size: 62px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  padding-left: 12px;
}

.hero__button {
  grid-column: span 2;
  color: #ffffff;
  text-decoration: none;
  padding: 22px 64px 22px;
  border: 2px solid #ffffff;
  margin-top: 47px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
}
