.juri {
  padding: 41px 0;

  @media (min-width: 768px) {
    padding: 30px 0 61px;
  }

  @media (min-width: 1366px) {
    padding: 100px 0;
  }
}

.juri__header {
  @include content-header;
  text-align: center;
  margin: 0 auto 19px;
  width: 220px;

  @media (min-width: 768px) {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 45px;
  }

  @media (min-width: 1366px) {
    margin-bottom: 46px;
  }
}

.juri__container {
  @media (min-width: 768px) {
    width: 678px;
    margin: 0 auto;
  }

  @media (min-width: 1366px) {
    width: 1270px;
    margin: 0 auto;
  }
}

.juri__wrapper {
  @media (min-width: 768px) {
    position: relative;
  }
}

.juri__button {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    top: 128px;
    background: transparent;
    border: none;
    left: -11px;
  }

  @media (min-width: 1366px) {
    top: 123px;
    left: -14px;
  }
}

.juri__button--next {
  @media (min-width: 768px) {
    left: unset;
    right: -11px;
  }

  @media (min-width: 1366px) {
    right: -16px;
  }
}

.juri__slider {
  overflow: hidden;
  width: 260px;
  height: 300px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 560px;
  }

  @media (min-width: 1366px) {
    width: 1160px;
  }
}

.juri__list {
  @include list-reset;
  position: relative;
  display: flex;
  box-sizing: content-box;

  @media (min-width: 768px) {
    gap: 40px;
  }
}

.juri__item {
  position: relative;

  @media (min-width: 768px) {
    max-width: 260px;
  }
}

.juri__name {
  position: absolute;
  margin: 0;
  bottom: 8%;
  left: 25%;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}

.juri__info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  background: #102654e3;
  box-shadow: 0px 0px 35px 0px #2a3b632b;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  color: #ffffff;
  padding: 46px 38px 53px;
}

.juri__info-name {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 9px;
}

.juri__info-sport {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 34px;
}

.juri__info-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.juri__info-item {
  position: relative;
  padding-left: 28px;
}

.juri__info-item::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.juri__info-description {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
}
// hover, focus, active
.juri__item:hover .juri__name {
  display: none;
}

.juri__item:hover .juri__info {
  display: flex;
}
