.offers__header {
  @include content-header;
  text-align: center;
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 60px 0 35px;
  }

  @media (min-width: 1366px) {
    padding: 100px 0 70px;
  }
}

.offers__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: 768px) {
    width: 678px;
    margin: 0 auto;
  }

  @media (min-width: 1366px) {
    width: 1160px;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 100px;
  }
}

.offers__promo-wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}

.offers__promo {
  background: #ed0233;
  color: #ffffff;
}

.offers__promo-description {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    padding: 39px 25px 40px;
    text-align: left;
    align-items: flex-start;
  }

  @media (min-width: 1366px) {
    padding: 40px 45px;
    max-width: 190px;
  }
}

.offers__promo-description p {
  margin: 0;
  font-weight: 700;
}

.offers__promo-description p:nth-child(n) {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 8px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  @media (min-width: 1366px) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers__promo-description p:nth-child(2n) {
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 29px;

  @media (min-width: 768px) {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 40px;
  }
}

.offers__promo-description span {
  font-weight: 300;
  line-height: 20px;
  padding: 0 45px;
  margin-bottom: 28px;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    padding-right: 40px;
  }

  @media (min-width: 1366px) {
    padding-right: 0;
  }
}

.offers__promo-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  border-bottom: 1px solid #ffffff;
  text-transform: uppercase;
  padding-bottom: 5px;

  @media (min-width: 768px) {
    margin-top: 161px;
    max-width: 150px;
  }

  @media (min-width: 1366px) {
    margin-top: 156px;
  }
}

.offers__content-picture {
  @media (min-width: 768px) {
    width: 400px;
    height: 462px;
  }

  @media (min-width: 1366px) {
    width: 280px;
    height: 460px;
  }
}

.offers__info-list {
  @include list-reset;
  margin: 36px auto 40px;
  gap: 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 34px auto 60px;
    gap: unset;
    justify-content: space-between;
  }

  @media (min-width: 1366px) {
    flex-direction: column;
    justify-content: unset;
    width: 560px;
    margin: 0;
    gap: 29px;
    padding-top: 82px;
  }
}

.offers__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px 21px;
  border: 7px solid;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;

  @media (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
    width: 270px;
  }

  @media (min-width: 1366px) {
    width: unset;
  }
}

.offers__info-item p {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 0;
  color: #1c3374;
  margin-bottom: 19px;

  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 10px;
  }
}

.offers__info-item span {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
    width: 235px;
    margin-bottom: auto;
  }

  @media (min-width: 1366px) {
    width: unset;
  }
}

.offers__info-link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #74819c;
  padding-bottom: 3px;
  text-decoration: none;
  color: #1c3374;

  @media (min-width: 768px) {
    align-self: flex-start;
    margin-top: 30px;
  }

  @media (min-width: 1366px) {
    margin-top: 39px;
  }
}
