// Viewports
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;

// Colors
$primary-bg: #f8f9fc;
$gradient-bg: linear-gradient(90deg, #1c3477, #1c3477 .01%, #1a3578 39.11%, #73184b 75.5%, #b4022a);
